[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml="~=6.0.0"
dacite = "~=1.9.2"
imapclient = "~=3.0.0"
sqlalchemy = "~=2.0.40"
yamlargparse = "~=1.31.1"

[dev-packages]
build = "~=1.4.0"
