[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml="6.0.*"
dacite = "1.8.*"
imapclient = "3.0.*"

[dev-packages]
pip-licenses = "4.3.*"

[requires]
python_version = "3.11"
