dacite==1.9.2; python_version >= '3.6'
greenlet==3.3.0; python_version >= '3.9'
imapclient==3.0.1; python_full_version >= '3.7.0'
pyyaml==6.0.3; python_version >= '3.8'
sqlalchemy==2.0.45; python_version >= '3.7'
typing-extensions==4.15.0; python_version >= '3.9'
yamlargparse==1.31.1; python_version >= '3.5'
